# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/
.nyc_output/

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# docker volumes locais (se algum dia mapeados)
.docker-data/
